/*
 * 面向属性的 CSS
 */

/* 布局方式 */
.dpflex { display: flex; }
.fldcol{flex-direction: column;}
.dpnone { display: none; }
.flex1 { flex: 1 }
/* 相对定位 */
.rel{position: relative;}
/* 绝对定位 */
.abs{position: absolute;}
/* 固定定位 */
.fix{position: fixed;}
/* 盒模型 */
.mt0 { margin-top: 0; }
.mt8 { margin-top: 8px; }
.mt16 { margin-top: 16px; }
.mt20 { margin-top: 20px; }
.mt40 { margin-top: 40px; }

.mr16 { margin-right: 16px; } 

.mb16 { margin-bottom: 16px; }

.ml12 { margin-left: 12px; }

.pd16 { padding: 16px; }

.pl8 { padding-left: 8px; }

/* 文字公用颜色 */
.cf{
    color: #fff;
}
.c10{
    color: #101010;
}
.c8A{
    color: #8A8A8A;
}
.c429{
    color: #4294FF;
}
.c004{
    color: #004E73;
}
/* 背景公用颜色 */
.bgcf{
    background: #fff;
}
.bgcE8{
    background: #E8E8E8;
}
.bgc429{
    background: #4294FF;
}
/* 公用字体大小 */
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f22 {
    font-size: 22px;
}
.f24 {
    font-size: 24px;
}
.f26 {
    font-size: 26px;
}
.f28 {
    font-size: 28px;
}
.f30 {
    font-size: 30px;
}
/* 字体加粗 */
.fw {
    font-weight: bold;
}
/* 文字水平居中 */
.ta{
    text-align: center;
}
