@font-face {
  font-family: "iconfont"; /* Project id 2549673 */
  src: url('iconfont.woff2?t=1621418681173') format('woff2'),
       url('iconfont.woff?t=1621418681173') format('woff'),
       url('iconfont.ttf?t=1621418681173') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-back:before {
  content: "\e606";
}

.icon-huizhang:before {
  content: "\e618";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-digital:before {
  content: "\e614";
}

.icon-shibai:before {
  content: "\e609";
}

.icon-secces:before {
  content: "\e60a";
}

.icon-sport:before {
  content: "\e62a";
}

.icon-wode:before {
  content: "\e61d";
}

.icon-home:before {
  content: "\e628";
}

.icon-weixin:before {
  content: "\e62b";
}

.icon-sanjiaoxing:before {
  content: "\e6bd";
}

